body {
    font-family: 'Arima', cursive;
    margin: 0;


}

h1 {
    font-size: 60px;
    color: white;

}

.header-image {
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 5px;
    width: 100%;
    height: 550px;
}

.center-align {
    text-align: center;
    width: 50%;
    margin: 80px auto;
}

.header-image p {
    color: white;
    font-size: 20px;
}

.submit-button {
    border: none;
    font-weight: 800;
    color: white;
    background-image: linear-gradient(rgb(230, 81, 81), rgb(223, 32, 95));
    margin: 0 auto;
    padding: 10px 25px;
    border-radius: 5px;
}


h2 {
    font-size: 40px;
    font-weight: 700;
}

h3 {
    font-size: 25px;
    font-weight: 900;
}

#input-border {
    border: none;
}

.button {
    background-color: rgba(128, 128, 128, 0.041);

    font-size: 25px;
    font-weight: 400;
    border: 0;
    border-radius: 2px;
    padding: 40px 15px;
    margin: 5px;
}

#check {
    background-color: rgba(255, 99, 71, 0.123);
    border: 2px solid tomato;
    border-radius: 2px;
    font-size: 25px;
    font-weight: 400;
    color: tomato;
    padding: 40px 15px;
    margin: 5px;
}

.donate-plan {
    display: flex;
    width: 80%;
    margin: 20px auto;

}

#food {
    background-color: rgba(95, 158, 160, 0.185);
    margin-right: 20px;
    padding: 40px 10px;
    border-radius: 5px;
}

#shelter {
    background-color: rgba(255, 182, 193, 0.295);
    margin-right: 20px;
    padding: 40px 10px;
    border-radius: 5px;
}

#education {
    background-color: rgba(255, 228, 196, 0.527);
    margin-right: 20px;
    padding: 40px 10px;
    border-radius: 5px;
}

#email {
    border: none;
    background-color: rgba(128, 128, 128, 0.26);
    padding: 12px;
}

#background-color {
    background-color: rgba(255, 228, 196, 0.801);
    padding: 60px;

}